In [15]:
import json
import requests
import pandas as pd
from pandas import json_normalize

### DOG API (providing Facts)

In [16]:
#Contains only 5 entries :()
response = requests.get('http://dog-api.kinduff.com/api/facts?number=8')

response
dog_facts = pd.DataFrame(response.json())
dog_facts.head()
#data.shape

                                               facts  success
0  One of Shakespeare’s most mischievous characte...     True
1  In Iran, it is against the law to own a dog as...     True
2  In 2001, it was estimated that there are appro...     True
3  Walt Disney's family dog -- named Sunnee -- wa...     True
4  Some Search and Rescue (SaR) Dogs are trained ...     True

### GitHub Bored API which recommends an activity if you are bored

In [19]:
from pandas import json_normalize

response = requests.get('https://www.boredapi.com/api/activity')
response
results = response.json()
bored_rec = json_normalize(results)
bored_rec

,activity,type,participants,price,link,key,accessibility
0,Go to a music festival with some friends,social,4,0.4,,6482790,0.2

### CHuck Norris Jokes

In [30]:
response = requests.get('https://api.chucknorris.io/jokes/random')
response
results = response.json()
results
chuck_norris = json_normalize(results)
chuck_norris.head()

chuck_norris['value']

0    Chuck Norris can ride a bike. Without getting on.
Name: value, dtype: object

### Binary Jazz Genre Generator

Might be used for the music recommender

In [25]:
response = requests.get('https://binaryjazz.us/wp-json/genrenator/v1/genre/10')
response
results = response.json()
results

['celtic psych-loungehaus',
 'neo icelandic blues',
 'swedish progtune',
 'new jack grind funk flow',
 'hard kodo drum',
 'celtic pipework',
 'guitar standards',
 'baroque flugelhorn chill',
 'disco euphonium',
 'zither-based mathemo']